<div class="container mt-5">
    <div style="text-align: center; ">
        @if(!registerMode){<h1 class="display-9 text-dark font-weight-bold romantic-text">find your soul's other half..</h1>
            <p class="lead text-secondary">sign up here!</p>
            <div class="text-center">
               <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register </button>
               <button class="btn btn-info btn-lg me-2">Learn more </button>
            </div>

        } @else {
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <app-register  
                        (cancelRegister)="cancelRegisterMode($event)">
                            
                        </app-register>
                    </div>
                </div>
            </div>
        }
         
    </div>
</div>
